.Articles-section {
    background-color: rgb(172, 210, 208);
    padding: 1px 0px;
    border-radius: 16px;
    text-align: left;
}

.Article {
    background-color: rgb(223, 240, 239);
    border-radius: 24px;
    margin: 32px 64px;
    padding: 16px;
}

.border {
    background-color: lightgrey;
    padding: 1px;;
}