.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 16px;
}

.App-link {
  color: #61dafb;
}

.App-background {
  background-color: #95caca;
  min-height: 100vh;
  color: black;
}

.navbar {
  background-color: rgb(223, 240, 239);
}

.navbar_button {
  background-color: lightseagreen;
  border: none;
  border-radius: 8px 8px 0px 0px;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 1); */
  transition: transform 0.2s, box-shadow 0.2s;
  padding: 12px 16px;
  font-size: 16px;
  margin: 0px 2px;
}

.navbar_button:active{
  transform: translateY(1px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #95caca;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}